<!-- Sign-Up Route - creates a brand new user account -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>

    <!-- Bulma Styling Sign Up Page -->
    <section class="section">
    <div class="container">
      <h1 class="title has-text-centered">Create a new account!</h1>

      <form action="/auth/sign-up" method="POST" class="box" style="max-width: 400px; margin: 0 auto;">
        <div class="field">
          <label class="label" for="username">Username:</label>
          <div class="control">
            <input class="input" type="text" name="username" id="username" required />
          </div>
        </div>

        <div class="field">
          <label class="label" for="password">Password:</label>
          <div class="control">
            <input class="input" type="password" name="password" id="password" required />
          </div>
        </div>

        <div class="field">
          <label class="label" for="confirmPassword">Confirm Password:</label>
          <div class="control">
            <input class="input" type="password" name="confirmPassword" id="confirmPassword" required />
          </div>
        </div>

        <!-- spacing looks better at the bottom if I add mt-4 for bottom two div classes -->
        <div class="field mt-4">
          <div class="control">
            <button class="button is-info is-fullwidth" type="submit">New User - Sign up</button>
          </div>
        </div>
      </form>

      <div class="has-text-centered mt-4">
        <!-- Choosing to make the sign-in & sign-up back to homepage a little bit different from the versions once user is signed in. I purposely wanted to do that to differentiate the two in a subtle manner. -->
        <a href="/">⬅︎ Back to Homepage</a>
      </div>
    </div>
  </section>





    <!-- Original Sign Up Page Code -->
<!--      
    <h1>Create a new account!</h1>

    <form action="/auth/sign-up" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" />

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />

      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" />
      
      <br><br>

      <button type="submit">New User - Sign up</button>
    </form>

    <br>

    <a href="/">⬅︎ Back to Homepage</a>
    -->
    
  </body>
</html>
