<!-- INDEX PAGE TEMPLATE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index of Kind Acts</title>
</head>
<body>
    <h1>All Kind Acts</h1>
    <ul>
        <% kindacts.forEach(kindact => { %>
            <li><%= kindact.name %></li>
        <% }); %>
    </ul>   
</body>
</html>