<!-- INDEX PAGE TEMPLATE / DISPLAY ALL KIND ACTS -->
 <!-- index-of-kind-acts -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index of Kind Acts</title>
</head>
<body>
    <h1>All Kind Acts</h1>
    <ul>
        <% kindacts.forEach(kindact => { %>
            <li><a href="/kindacts/<%= kindact._id %>"><%= kindact.title %></a></li>
        <% }); %>
    </ul>  
    
    <br>

    <!-- LINKS TO APP PAGES -->
    <a href="/kindacts/new">Add New Kind Act</a> <br>
    <a href="/kindacts/edit">Update A Kind Act</a> <br>
    <a href="/kindacts/show">Remove A Kind Act</a> <br><br>

    <a href="/">⬅︎ Back to Homepage</a>

</body>
</html>