<!-- SHOWPAGE FOR EACH KIND ACT with dynamic routing -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Kind Act Showpage</title> -->
     <!-- Changing Kind Act Showpage title to a dynamic title that changes to which id showpage you are on. -->
     <title><%= kindact.title %></title>

</head>
<body>

    <h1><%= kindact.title %></h1> 
    <% if (kindact.isTestedRandomActOfKindness) { %>
        <p>This Kind Act has been tested and makes a positive impact! Give it a try!</p>
    <% } else { %>
        <p>This one’s untested... But you could be the first to spark change!</p>
    <% } %>

</body>
</html>
