 <!-- Navigation Bar Partial - created so can use from page to page with less code  -->

<!-- My version that might work - saving and then tweaking it -->
<nav>
  <% if (user) { %>
    <span>Welcome, <%= user.username %>!</span>
    <a href="/kindacts">Browse Kind Acts</a>
    <a href="/kindacts/new">Add New Kind Act</a>
    <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-up">Sign Up</a>
  <% } %>
</nav>