 <!-- Navigation Bar Partial - created so can use from page to page with less code  -->

<!-- My version that might work - saving and then tweaking it -->


<!-- Bulma Nav Bar with styling & added classes -->
 <!-- I like is-info (teal/cyan) for the color /  -->
<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="container is-flex is-justify-content-center">
    <div class="navbar-start">
      <% if (user) { %>
        <a class="navbar-item mx-1">Hi, <%= user.username %>!</a>
        <a class="navbar-item mx-6" href="/kindacts">Browse Kind Acts</a>
        <a class="navbar-item mx-6" href="/kindacts/new">Add New Kind Act</a>
        <a class="navbar-item mx-6" href="/vip-lounge">Get into the VIP Users Only lounge!</a>
        <a class="navbar-item mx-6" href="/auth/sign-out">Sign Out</a>
      <% } else { %>
    </div> 
      <!-- I have to close the div in order to use navbar-end within an if...else. -->

    <div class="navbar-item is-flex is-align-items-center is-justify-content-center ml-6">
      <h1 class="has-text-weight-bold is-size-4 has-text-white">Welcome to the KindUp Movement!</h1>
    </div>

      <!-- This will put the signin and signup on the right of the nav bar before user has logged in - looks better. -->
      <div class="navbar-end">
        <a class="navbar-item" href="/auth/sign-up">Sign Up</a>
        <a class="navbar-item" href="/auth/sign-in">Sign In</a>
      <% } %>
    </div>

  </div>
</nav>



