<!-- HOMEPAGE/LANDING PAGE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KindUp App Homepage</title>
</head>
<body>

    <!-- <nav>
        <ul>
            <li><a href="/auth/sign-up">New User - Sign Up</a></li>
            <li><a href="/auth/sign-in">Existing User - Sign In</a></li>
        </ul>
    </nav> -->
<!-- <h1>Welcome to the KindUp Movement!</h1>
    <p>This is an app for creating random acts of kindness & upleveling the world! &#128516; </p> -->

<!-- Sign-in creates connect.sid cookies in dev tools. SID = session id. It remembers who you are between webpages-->
    <% if (user) { %>
        <h1>Welcome to the KindUp Movement, <%= user.username %>!</h1>
        <p>This is an app for creating random acts of kindness & upleveling the world!</p>

    <% } else { %>
        <h1>Welcome to the KindUp Movement, guest.</h1>
        <p>This is an app for creating random acts of kindness & upleveling the world!</p>

        <br>

        <h3>Start here & create an account!</h3>
        <p>
            <a href="/auth/sign-up">New User - Sign up</a> or <a href="/auth/sign-in">Existing User - Sign in</a>.
            <!-- ! FIGURE OUT WHICH OF THESE 2 VERSIONS I'D LIKE TO ADD FOR SIGN-UP & SIGN-IN -->
        </p>
    <% } %>

    <br>

    <!-- LINKS TO APP PAGES -->
    <!-- ! Add instructions link so that user knows how to update and edit since not on the homepage - e.g. "Go to Kind Act page", "Click on Kind Act", "Ability to Update or Delete Kind Act".  -->
    <!-- ! ASK TRISTAN OR PURVI: Is it better to have target="_blank"on just homepage and not others? Or not at all? -->
     <!-- Note: Wanted to have the homepage not to be navigated away from; thus used, target=_blank to open these links in a new page. -->
    <a href="/kindacts" target="_blank">Browse Kind Acts</a> &nbsp;
    <a href="/kindacts/new" target="_blank">Add New Kind Act</a> 

</body>

</html>



