<!-- HOMEPAGE/LANDING PAGE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KindUp App Homepage</title>
</head>
<body>
    <h1>Welcome to the KindUp Movement!</h1>
    <p>This is an app for creating random acts of kindness & upleveling the world! &#128516; </p>

    <br>

    <a href="/kindacts">Browse Kind Acts</a> &nbsp;
    <a href="/kindacts/new">Add New Kind Act</a> &nbsp;
    <a href="/kindacts/edit">Update A Kind Act</a> &nbsp;
    <a href="/kindacts/show">Remove A Kind Act</a>

    <br><br><br>

    <a href="/kindacts">Browse Kind Acts</a> <br>
    <a href="/kindacts/new">Add New Kind Act</a> <br>
    <a href="/kindacts/edit">Update A Kind Act</a> <br>
    <a href="/kindacts/show">Remove A Kind Act</a> <br>


</body>

</html>



