<!-- HOMEPAGE/LANDING PAGE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KindUp App Homepage</title>
</head>
<body>
    <h1>Welcome to the KindUp Movement!</h1>
    <p>This is an app for creating random acts of kindness & upleveling the world! &#128516; </p>

    <!-- ! Need to add a href links at the bottom of the webpage to interconnect pages -->
     <a href="/kindacts/new">Add New Kind Act</a> <br>
     <a href="/kindacts/new">Create New Kind Act</a> <br>
     <a href="/kindacts/new">Add & Create New Kind Act</a> <br>
     <a href="/kindacts/new">Add Random Act of Kindness</a> <br>
     <a href="/kindacts/index-of-kind-acts">Browse Kind Acts</a> <br>
     <a href="/kindacts/index-of-kind-acts">Browse & Read Kind Acts</a> <br>
     <a href="/kindacts/index-of-kind-acts">Review All Kind Acts</a> <br>
     <a href="/kindacts/index-of-kind-acts">Kind Acts Catalogue</a>

     <br><br>

    <a href="/kindacts/new">Create New Kind Act</a> <br>
    <a href="/kindacts/index-of-kind-acts">Read & Browse Kind Acts</a> <br>
    <a href="/kindacts/edit">Update A Kind Act</a> <br>
    <a href="/kindacts/show">Delete A Kind Act</a>

    <br><br>
    <a href="/kindacts/new">Add New Kind Act</a> <br>
    <a href="/kindacts/edit">Update A Kind Act</a> <br>
    <a href="/kindacts/index-of-kind-acts">Browse & Read Kind Acts</a> <br>
    <a href="/kindacts/index-of-kind-acts">Review All Kind Acts</a> <br>
    <a href="/kindacts/index-of-kind-acts">Kind Acts Catalogue</a> <br>
    <a href="/kindacts/show">Delete A Kind Act</a>



</body>
</html>


    <!-- ! link ideas: Home, Browse Kind Acts, Add New Kind Act/Random Act of Kindness -->