<!-- HOMEPAGE/LANDING PAGE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KindUp App Homepage</title>
</head>
<body>
    <h1>Welcome to the KindUp Movement!</h1>
    <p>This is an app for creating random acts of kindness & upleveling the world! &#128516; </p>

    <br>

    <!-- LINKS TO APP PAGES -->
     <!-- ! ASK PURVI OR TRISTAN: Do I need all these links for each webpage for interconnectivity in app? -->
    <a href="/kindacts" target="_blank">Browse Kind Acts</a> &nbsp;
    <a href="/kindacts/new" target="_blank">Add New Kind Act</a> &nbsp;
    <a href="/kindacts/edit" target="_blank">Update A Kind Act</a> &nbsp;
    <a href="/kindacts/show" target="_blank">Remove A Kind Act</a>

    <br><br><br>

    <a href="/kindacts" target="_blank">Browse Kind Acts</a> <br>
    <a href="/kindacts/new" target="_blank">Add New Kind Act</a> <br>
    <a href="/kindacts/edit" target="_blank">Update A Kind Act</a> <br>
    <a href="/kindacts/show" target="_blank">Remove A Kind Act</a> <br>


</body>

</html>



