<!-- HOMEPAGE/LANDING PAGE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KindUp App Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>

<!-- Nav Bar link placing at the top of all ejs files to include it. -->
<%- include('partials/_navbar', { user: user }) %>


<!-- Sign-in creates connect.sid cookies in dev tools. SID = session id. It remembers who you are between webpages.-->
    <!-- Bulma styling added below to the if...else -->
    <!-- If user exists -->
    <% if (user) { %>
        <section class="section">
            <div class="container has-text-centered">
            <!-- then render this -->
            <h1 class="title is-3 has-text-info">Welcome to the KindUp Movement, <%= user.username %>!</h1>
            <p class="mb-3">(This part of the page is underconstruction! More <strong>Welcome Information</strong> to come soon!) <br>
                ...welcome information here... and a paragraph about exploring through the app....</p>

            <br>

            <!-- Top Video -->
            <div>
                <h3 class="title is-5 has-text-centered has-text-weight-semibold mb-1">Nepal Adventures & Contributing To An Orphanage!</h3>
                <p class="has-text-centered is-size-6 has-text-info mb-1">**an adventure that added a Random Act Of Kindness to it**</p>
                <!-- The video-container mb-5 gives more spacing below the video -->
                <div class="video-container mb-1" id="first-video">
                <!-- ! Need to add alt text for all videos but haven't been able to find how to do that online yet. It says you can't do the same thing as when you have images. -->
                <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fsylvia.remington.9%2Fvideos%2F10154586819952696%2F&show_text=false&width=476&t=0" title="video showing adventures in nepal with images of traveling trekking and at orphanage" width="476" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
            </div>



    <% } else { %>
        <section class="section">
            <div class="container has-text-centered">
                <!-- <h1>Welcome to the KindUp Movement!</h1> -->
                <h2 class="title is-3 has-text-info">Do you have the courage to do a Random Act Of Kindness?</h2>
                <p class="has-text-weight-bold has-text-info">(This is an app for creating random acts of kindness & upleveling the world! Woot! Woot!)</p>

                <br>
            
                <p><strong>Once you sign up with this app, you'll be able to...<br>
                    Browse many different Kind Acts, <br> 
                    Add New Kind Acts, <br> 
                    Get into the VIP Users Only Lounge, <br>
                    and also enter to win in free giveaways for you spreading goodwill!</strong>
                </p>

                <br>
    <% } %>

    <!-- YouTube Video Second Bulma Version -->
     <section class="section">
        <div class="container">


        <!-- First Row of Videos -->
        <div class="columns">
        <!-- First Video -->
        <div class="column">
            <h3 class="title is-5 has-text-centered has-text-weight-semibold mb-1">"Somewhere Over The Rainbow" During Morning Commute</h3>
            <p class="has-text-centered is-size-6 has-text-info mb-2">Peter Sharp's Social Experiment/Random-Act-Of-Kindness - Perth, Australia</p>
            <!-- The video-container mb-5 gives more spacing below the video -->
            <div class="video-container mb-5" id="first-video">
            <!-- ! Need to add alt text for all videos but haven't been able to find how to do that online yet. It says you can't do the same thing as when you have images. -->
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/xctzp0dp9uc?si=1ZDBmpRogicRGPwT" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <!-- Second Video -->
        <div class="column">
            <h3 class="title is-4 has-text-centered has-text-weight-semibold mb-1">The Eye Contact Experiment</h3>
            <p class="has-text-centered is-size-6 has-text-info mb-2">Worldwide, People did this on the same day! Created by my buddy Peter Sharp.</p>
            <div class="video-container mb-5" id="second-video">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/3QdnCRWATZ8?si=AKEKJJEtFV46ynu7" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        </div>

        <!-- Third Video -->
        <div class="columns">
        <div class="column">
            <h3 class="title is-4 has-text-centered has-text-weight-semibold mb-1">The Trust Experiment</h3>
            <p class="has-text-centered is-size-6 has-text-info mb-2">Worldwide, People did this on the same day! Created by my buddy Peter Sharp.</p>
            <div class="video-container mb-2" id="third-video">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/SuiN2WEVVXk?si=BPN-eJviClN7QPi1" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <!-- Fourth Video -->
        <div class="column">
            <h3 class="title is-4 has-text-centered has-text-weight-semibold mb-1">Spontaneous Dance Party...</h3>
            <p class="has-text-centered is-size-6 has-text-info mb-2">Somewhere in Perth, Australia.........</p>
            <div class="video-container mb-2" id="fourth-video">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/eR3Jr20p6qo?si=fC8XK5Q5nIAtZO_7" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        </div>

    </div>
    </section>
    
<!-- Nepal Adventure Video without Bulma Styling -->
<!-- <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Fsylvia.remington.9%2Fvideos%2F10154586819952696%2F&show_text=false&width=476&t=0" width="476" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
 -->

<!-- YouTube Video First Version without the extensive Bulma Styling / THIS IS FOR REFERENCE IN CASE MESS UP THE CODE WITH BULMA ABOVE -->
<!-- 
    FIRST VIDEO
    <h3>"Somewhere Over The Rainbow" During Morning Commute</h3>
    <p>Peter Sharp's Social Experiment/Random-Act-Of-Kindness - Perth, Australia</p>
    <div class="video-container" id="first-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xctzp0dp9uc?si=1ZDBmpRogicRGPwT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <br>

    SECOND VIDEO
    <h3>The Eye Contact Experiment</h3>
    <p>Worldwide, People did this on the same day! Created by my buddy Peter Sharp.</p>
     <div class="video-container" id="second-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3QdnCRWATZ8?si=AKEKJJEtFV46ynu7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     </div>

    <br>

    THIRD VIDEO
    <h3>The Trust Experiment</h3>
    <p>Worldwide, People did this on the same day! Created by my buddy Peter Sharp.</p>
     <div class="video-container" id="third-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SuiN2WEVVXk?si=BPN-eJviClN7QPi1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     </div>

     <br>

    FOURTH VIDEO
    <h3>Spontaneous Dance Party...</h3>
    <p>Somewhere in Perth, Australia.........</p>
     <div class="video-container" id="fourth video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eR3Jr20p6qo?si=fC8XK5Q5nIAtZO_7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     </div> -->


    <!-- FOOTER AREA -->
    <% if (user) { %>
    <!-- <h2>Sign up to be part of the KindUp Movement!</h2> -->
    <!-- <p>Each day is amazing 'cause you have the chance to be kind and add more fun & joy & hope into life.</p> -->
    <p class="title is-5 has-text-centered has-text-weight-semibold">Each day is amazing 'cause you have the chance to be kind and add more fun & joy into other people's lives.</p>
    <% } else { %>
        <!-- ! Need to create this below also as a link - that links to the sign up page! -->
        <h2 class="title is-3 has-text-centered has-text-weight-semibold mb-1">Sign up to be part of the KindUp Movement!</h2>
        <br>
        <p class="has-text-weight-semibold">Each day is amazing 'cause you have the chance to be kind and add more fun & joy into other people's lives.</p>
    <% } %>


</body>

</html>



























<!-- ---------------------------- Code Graveyard ---------------------------------- -->

    <!-- ALL LINKS BELOW WERE ORIGINALLY ON HOMEPAGE -->
        <!-- <h3>Start here & create an account!</h3>
        <p>
            <a href="/auth/sign-up">New User - Sign up</a> or <a href="/auth/sign-in">Existing User - Sign in</a>.
            FIGURE OUT WHICH OF THESE 2 VERSIONS I'D LIKE TO ADD FOR SIGN-UP & SIGN-IN
        </p> -->



    <!-- This isn't for an auth route, so placing route in server.js for the vip-lounge -->
   <!-- PLACE THIS ONCE LOG IN -->
    <!-- <p><a href="/vip-lounge">Get into the VIP Users Only lounge!</a></p>

    <br> -->

    <!-- LINKS TO APP PAGES -->
    <!-- ! Add instructions link so that user knows how to update and edit since not on the homepage - e.g. "Go to Kind Act page", "Click on Kind Act", "Ability to Update or Delete Kind Act".  -->
     <!-- Note: Wanted to have the homepage not to be navigated away from; thus used, target=_blank to open these links in a new page. -->
    <!-- <a href="/kindacts">Browse Kind Acts</a> &nbsp;
    <a href="/kindacts/new">Add New Kind Act</a>  -->