<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KindUp</title>
</head>
<body>
    <h1>Welcome to the KindUp Movement!</h1>
    <p>This is an app for creating random acts of kindness & upleveling the world! &#128516; </p>
</body>
</html>