<!-- HOMEPAGE/LANDING PAGE -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KindUp App Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>

<!-- Nav Bar link placing at the top of all ejs files to include it. -->
<%- include('partials/_navbar', { user: user }) %>


<!-- Sign-in creates connect.sid cookies in dev tools. SID = session id. It remembers who you are between webpages-->
    <!-- If user exists -->
    <% if (user) { %>
        <!-- then render this -->
        <h1>Welcome to the KindUp Movement, <%= user.username %>!</h1>
        <p>...welcome information here... and a paragraph about exploring through the app...</p>

        <br>

        <!-- <p>
            new sign out link
            Maybe take this link out since just added it in nav bar
            <a href="/auth/sign-out">Sign out</a>
        </p> -->

    <% } else { %>
        <h1>Welcome to the KindUp Movement!</h1>
        <h2>Do you have the courage to do a Random Act Of Kindness?</h2>
        <p>(This is an app for creating random acts of kindness & upleveling the world! Woot! Woot!)</p>

        <br>

        <p><strong>Once you sign up with this app, you'll be able to...<br>
            Browse many different Kind Acts, <br> 
            Add New Kind Acts, <br> 
            Get into the VIP Users Only Lounge, <br>
            and also enter to win in free giveaways for you spreading goodwill!</strong>
        </p>

        <br>
    <% } %>

    <!-- YouTube Video Second Bulma Version -->
     <section class="section">
  <div class="container">

    <div class="columns">
      <div class="column">
        <h3>"Somewhere Over The Rainbow" During Morning Commute</h3>
        <p>Peter Sharp's Social Experiment/Random-Act-Of-Kindness - Perth, Australia</p>
        <div class="video-container">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/xctzp0dp9uc?si=1ZDBmpRogicRGPwT" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="column">
        <h3>The Eye Contact Experiment</h3>
        <p>Worldwide, People did this on the same day! Created by my buddy Peter Sharp.</p>
        <div class="video-container">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/3QdnCRWATZ8?si=AKEKJJEtFV46ynu7" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <h3>The Trust Experiment</h3>
        <p>Worldwide, People did this on the same day! Created by my buddy Peter Sharp.</p>
        <div class="video-container">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/SuiN2WEVVXk?si=BPN-eJviClN7QPi1" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="column">
        <h3>Spontaneous Dance Party...</h3>
        <p>Somewhere in Perth, Australia.........</p>
        <div class="video-container">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/eR3Jr20p6qo?si=fC8XK5Q5nIAtZO_7" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </div>
</section>
    
    <!-- YouTube Video First Version -->

    <h3>"Somewhere Over The Rainbow" During Morning Commute</h3>
    <p>Peter Sharp's Social Experiment/Random-Act-Of-Kindness - Perth, Australia</p>
    <div class="video-container" id="first-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xctzp0dp9uc?si=1ZDBmpRogicRGPwT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <br>

    <h3>The Eye Contact Experiment</h3>
    <p>Worldwide, People did this on the same day! Created by my buddy Peter Sharp.</p>
     <div class="video-container" id="second-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3QdnCRWATZ8?si=AKEKJJEtFV46ynu7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     </div>

    <br>

    <h3>The Trust Experiment</h3>
    <p>Worldwide, People did this on the same day! Created by my buddy Peter Sharp.</p>
     <div class="video-container" id="third-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SuiN2WEVVXk?si=BPN-eJviClN7QPi1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     </div>

     <br>

     <h3>Spontaneous Dance Party...</h3>
     <p>Somewhere in Perth, Australia.........</p>
     <div class="video-container" id="fourth video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eR3Jr20p6qo?si=fC8XK5Q5nIAtZO_7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     </div>


    <% if (user) { %>
    <!-- <h2>Sign up to be part of the KindUp Movement!</h2> -->
    <!-- <p>Each day is amazing 'cause you have the chance to be kind and add more fun & joy & hope into life.</p> -->
    <p>Each day is amazing 'cause you have the chance to be kind and add more fun & joy to other people's lives.</p>
    <% } else { %>
        <h2>Sign up to be part of the KindUp Movement!</h2>
        <p>Each day is amazing 'cause you have the chance to be kind and add more fun & joy to other people's lives.</p>
    <% } %>


</body>

</html>














<!-- ---------------------------- Code Graveyard ---------------------------------- -->

    <!-- ALL LINKS BELOW WERE ORIGINALLY ON HOMEPAGE -->
        <!-- <h3>Start here & create an account!</h3>
        <p>
            <a href="/auth/sign-up">New User - Sign up</a> or <a href="/auth/sign-in">Existing User - Sign in</a>.
            FIGURE OUT WHICH OF THESE 2 VERSIONS I'D LIKE TO ADD FOR SIGN-UP & SIGN-IN
        </p> -->



    <!-- This isn't for an auth route, so placing route in server.js for the vip-lounge -->
   <!-- PLACE THIS ONCE LOG IN -->
    <!-- <p><a href="/vip-lounge">Get into the VIP Users Only lounge!</a></p>

    <br> -->

    <!-- LINKS TO APP PAGES -->
    <!-- ! Add instructions link so that user knows how to update and edit since not on the homepage - e.g. "Go to Kind Act page", "Click on Kind Act", "Ability to Update or Delete Kind Act".  -->
     <!-- Note: Wanted to have the homepage not to be navigated away from; thus used, target=_blank to open these links in a new page. -->
    <!-- <a href="/kindacts">Browse Kind Acts</a> &nbsp;
    <a href="/kindacts/new">Add New Kind Act</a>  -->