/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* ! Make sure you go through Level Up Styling content to link up styles with ejs and js correctly. */

/* 
SEE LEVEL UP CONTENT FROM MEN STACK CRUD APP FRUITS CALLED "STYLE THE APPLICATION"
FOR FURTHER INFO ON STYLING THIS CONTENT.
*/